<div class="container">
  <div class="row">
    <h1><%= link_to 'Journal App', root_url %></h1>


    <div class="col-sm-4" id="sidebar"></div>
    <div class="col-sm-8" id="content"></div>
  </div>
</div>