<ul>
<% posts.forEach(function(post) { %>
  <li>
    <a href="#" class="show-link" data-id="<%= post.get('id') %>">
      <%= post.get('title') %>
    </a>
    <button class="delete-button" data-id="<%= post.get('id') %>">
      Delete
    </button>
  </li>
<% });  %>
</ul>