<h2>Add a Post</h2>

<form>
  <label>Title
  <input type="text"
         name="post[title]">
  </label>
  <label>Body
    <textarea
           name="post[body]">
    </textarea>
  </label>

  <p><input type="submit" value="Add Post"></p>
</form>